body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../../assets/images/gravel.png);
  /* background-color: #4aaaa5; */
  padding-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 90px; /* Vertically center the text there */
  background-color: #505050;
  text-align: center;
  color: #bbbbbb;
  border-top: 8px solid #4aaaa5;
  font-size: 14px;
}

.noVertPadding{
  padding: 0px 0px; /* 0 16 */
}

.vertPadding{
  padding: 5px 0px 40px;
}

#noPadding{
  padding: 0px;
  margin: 0;
}

.rightBorder{
  /* border-right: 510px; */
  border-right-color: #dddddd;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 0px;
  margin: 8px 0px;
  /* font-size: 20pt !important; */
}

.nav-item {
  font-size: 20px;
  /* padding-right: 20px; */
  /* padding-left: 20px; */
}

.name{
  background-color: #4aaaa5;
  float: left;
  color: white !important;
  padding: 26px 37px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.btn-primary{
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20pt;
}

.btn-primary:hover{
  background-color: #398583;
  border-color: #398583;
  color: black;
  text-decoration: none;
}

.btnLinkColor{
  color: green;
  
}

.btnLinkColor:hover{
  color: black;
  
}

#navContainer{
  
  /* background-color: #ffffff; */
  padding: 0px;
}

header{
  background-color: white;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #cccccc;
}

#mainContainer{
  margin: 50px auto;
  padding: 35px;
  border-style: solid;
    border-width: thin;
    border-color: #cccccc;
}

#containerTitle{
  font-family: Georgia, "Times New Roman", Times, serif;
  /* padding: 0px 15px; */
  color: #4aaaa5;
}

p{
  color: #777777;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}

.hrFat{
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin: 10px 0px 20px;
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
  color: #cccccc;
  background-color: #cccccc;
}

.socialIcon{
  width: 47px;
  /*float: right;*/
  margin: 0px 0px 0px 8px;
  top: -10px;
  right: 15px;
  position: relative; 
}

.headshot{
  margin: 5px 15px 0px 0px;
  /* display: block; */

}

.headshotLarge{
  margin-bottom: 0px;
}

.tinyFont{
  font-size: 10pt;
  line-height: 100%;
  margin-bottom: 5px;
  margin-top: 3px;
}

.photoCitation {
  color: black;
}

.caption {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
}

.portfolioTitleLocation{
    position: absolute;
  top: 55%;
}

.portfolioTitle{
  width: 100%;
  height: 60px;
  position: absolute;
  top: 55%;
  padding: 10px 0px 20px;
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
}

.portfolioTitle a:hover{
  color: black;
}

/* @media (max-width: 575.98px) {
  .btn-primary{
    font-size: 30pt;
    font-weight: bold;
    background-color: #ffffff;
  }
} */

@media (max-width: 767.98px) {
  .btn-primary{
    font-size: 24pt;
    font-weight: bold;
  }
}

/*
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 576px) {
  .btn-primary{
    font-size: 100pt;
  }
} */
/*
@media (max-width: 768px){
  .btn-primary{
    font-size: 14pt;
  }
}
*/


@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: none;
  }

  /* .btn-primary {
    font-size: 28pt;
  } */
}

/* @media (min-width: 992px) {
  .btn-primary{
    font-weight: bold;
  }
} */

